.side-menu{
    width: 100px !important;
}

.side__ctas{
    padding: 0 !important;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    color: #aaa !important;
}